@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* base styles */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  background-color: #333;
}
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
.btn {
  background: none;
  border: 2px solid #39b385;
  padding: 6px 12px;
  border-radius: 4px;
  color: #39b385;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}
.btn:hover {
  background: #39b385;
  color: #fff;
}

.loading {
  color: #f5f5f5;
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
}
